
@{
    ViewBag.Title = "Portal de Administracion de Usuarios";
}
<br/>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2 class="text-center">Portal de Administracion de Usuarios</h2></div>
    <h5 class="text-center">Este portal nos permitirá administrar nuestros usuarios, con sus respectivos roles y permisos.</h5>
</div>