
@{
    ViewBag.Title = "Portal de Administracion de Usuarios";
}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="text-center">Este portal nos permitirá administrar nuestros usuarios, con sus respectivos roles y permisos.</h3></div>
</div>